*{
    margin : 0;
    padding:0;
    font-family: Century Gothic;
}

header{
    background-image: url(starss.jpg);
    height: 50vh;
    background-size:cover;
    background-position:center;
}
.main{
    background-color:rgb(31, 83, 100); 
  
}
ul{
    margin-left: 170px;
   
}
ul li{
  display: inline-block;
}
ul li a{
    margin-left: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
ul li a:hover{
        background-color: white;
        color: black;
    }



     /*.columns {
        float: right;
        width: 100%;
        height: 600px;

     }
    
    
       /* padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      
    
    
    
      
      /* Clear floats after the columns */
     /*.rows:after {
        content: "";
        display:table-row;
        clear: both;
        
      }*/

     .column {
        float: right;
        width: 60%;
        height: 600px;
        background-image: url(whiteeee.jpg);
        
    
    
       /* padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }
    /*.column input {

      padding-top: 50px;


    }*/

    /*.input1{

      padding-top: 200px;
      
    }
    .input4{

       text-align: left;
    } */

    .ddddd{

      float: right;
      width: 40%;
      height: 600px;
      background-image: url(whiteeee.jpg);
    
      
   

    }
    .send{
     
      color: black;
      background-color: transparent;
      padding-left: 380px;
      
    }
    .text1{
      padding: 10px 10px;
    }
    .text2
    {
      padding: 30px 10px;
    }
    .button
    {
      color: white;
      background-color: black;
      
      border: none;
      color: white;
      padding: 9px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    
   /* .form{

      margin-top: 150px;
      margin-left: 100px;
    }
    .form input{
      margin: 10px;
      padding-left: 210px;
      padding-top: 20px;
    }*/


    
      
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display:table-row;
      clear: both;
      
    }  
    
    .footer{

      text-align: center;
      height: 100px;
      margin-top: 50px;
      margin-bottom: 100px;
      font-size: 12px;
      
        }
        .ddddd h2{

          padding-left: 130px;
        }
.ddddd h1{


  padding-left: 130px;
}
.form{


  width: 100%;
  padding: 170px 0;
size: 60px;
  box-sizing: border-box;

  
}
/*.form td{

height: 25px;

}*/
header h1{

  text-align: center;
  color: white;
   padding-top: 120px;
   font-size: 50px;
  }
  .mxg{
    width: 428px; height: 100px
  }

  






    
    
     