*{
    margin : 0;
    padding:0;
    font-family: Century Gothic;
}

header{
    background-image: url(starss.jpg);
    height: 50vh;
    background-size:cover;
    
}
.main{
    background-color:rgb(31, 83, 100); 
  
}
ul{
    margin-left: 170px;
   
}
ul li{
  display: inline-block;
}
ul li a{
    margin-left: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
ul li a:hover{
        background-color: white;
        color: black;
}
.column {
    float: right;
    width: 50%;
    height: 780px;
    background-image: url(whiteeee.jpg);
  
  


   /* padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }


  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display:table-row;
    clear: both;
    
    
  }
  .column img{

       margin-left: 250px;
       margin-top: 80px;
       
   
       


  }
.button{
   

background-color: brown;

float: right;
    width: 100%;
    height: 300px;

}

ul b{

    margin-left: 150px;


  }
  ul button{
    color: lightcoral;
    height: 40px;
    padding: 20px;
    
    

  }






  .def {
    float: left;
    width: 33.33%;
   /* padding: 10px;*/
    height: 500px; /* Should be removed. Only for demonstration */
    background-image: url(brownnn.jpg);
    text-align: center;
  }
  .dddd{

    float: left;
    width: 33.33%;
   /* padding: 10px;*/
    height: 500px; /* Should be removed. Only for demonstration */
    background-image: url(brownnn.jpg);
    text-align: center;


  }
 
  .eeee{


    float: left;
    width: 33.33%;
   /* padding: 10px;*/
    height: 500px; /* Should be removed. Only for demonstration */
    background-image: url(brownnn.jpg);
    text-align: center;

  }

  
  /* Clear floats after the columns */
  .abc:after {
    content: "";
    display: table;
    clear: both;
  }
 /* .abc strong{


margin-left: 150px;

  }*/

  .columns {
    float: right;
    width: 50%;
    height: 700px;
    background-image: url(whiteeee.jpg);
    
    


   /*padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }


  
  /* Clear floats after the columns */
  .rows:after {
    content: "";
    display:table-row;
    clear: both;
  }
 /* .column a{

       margin-left: 30px;
       width: 20px;
       size: 50px;*/
       
 /* width: 30%;
  border: solid;
  border-color: black;
  text-decoration: solid;
  padding: 14px 28px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  margin-bottom: 100px;
  background-color: black;
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  
  cursor: pointer;


  
  }

  .column a:hover{

      background-color: white;
      color: black;
  }*/
  .footer{

text-align: center;
height: 100px;
margin-top: 50px;
margin-bottom: 100px;
font-size: 12px;

  }
  /*.abc button{

       text-align: center;

  }*/
  .abc h2{
text-align: left;
margin-top: 50px;

  }
  .abc h1{

text-align: center;


  }
.aaaa{

  background-image: url(whiteeee.jpg);
  height: 700px;
  
  
}  
.abc .def{

text-align: center;

}
.abc .def  h2{

text-align: left;

}
.abc .def .def h2{

text-align: left;
}
.aaaa h2{

    padding-left: 130px;

}
.aaaa h1{

  padding-left: 130px;
}
.abc .def h2{

  padding-left: 100px;
}
.read{
  color: black;
      background-color: transparent;
      
      border: solid;
      
      padding: 9px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    
    .bt1{

      color: black;
      background-color: transparent;
      
      border: solid;
      
      padding: 9px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;

    }
    header h1{

    text-align: center;
    color: white;
     padding-top: 120px;
     font-size: 50px;
    }








    
  






